.main {
  background: #3699f7;
  color: #ddd;
  height: 700px;
  position: relative;
}

.sbg {
  position: absolute;
  bottom: 0;
}

.secsection {
  height: 400px;
}

.secsection>div {
  height: 200px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.markwiens {
  display: flex;
}

.markwiens>div {
  width: fit-content;
}

.banner {
  padding-top: 40px;
  text-align: right;
}

.banertext {
  padding: 60px;
  color: #fff;
}

.banertext>h1 {
  font-weight: bold;

}

.banertext>button {
  border: none;
  background: #fff;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;

}

.prigingheadeer {
  text-align: center;
  color: black;
  padding-top: 50px;
}



.pricignWrper>div {

  border-radius: 10px;
  color: black;
}

.card-header {
  color: black !important;
  background: #f0f0f0 !important;
  border: none !important;

}

.card {
  background: #f0f0f0;
  border: none !important;
  border-radius: 10px !important;


}

.card:hover {
  background: #3699f7;
  color: #fff;
}

.card:hover .card-header {
  background: #3699f7 !important;
  color: #fff !important;
}

.card:hover .text-muted {

  color: #fff !important;
}

.card:hover .btn {
  background: #fff !important;
  color: black !important;
}

.btn {
  background: #3699f7 !important;
  color: #fff;
}

.hh {
  color: black;
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.hh button {
  background: #3699f7;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;

}

.fututes {
  color: black;
}

.futuresImtem h1 {
  color: #3699f7 !important;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 0px !important;
}

.futuresImtem>div {
  display: flex;
  grid-gap: 60px;
  align-items: center;
}

.futuresImtem h5 {
  padding-top: 25px;
}

.lokking {
  background: #3699f7;
  color: #fff !important;
  height: 380px;
  display: flex;
  align-items: center;
}

.lokking button {
  background: #fff;
  color: black;
  padding: 12px;
  border-radius: 30px !important;
  border: none;

}

.container {
  width: 80%;
  margin: auto;
}